.search-bar {
    width: calc(100% - 250px); /* Ajusta el ancho para dejar espacio para la sidenav */
    height: 70px; /* Ajusta la altura para hacer la barra más gruesa */
    background-color: #001B2E; /* Color de fondo de la barra de búsqueda */
    position: fixed;
    top: 20px; /* Añade un margen desde el tope de la página */
    left: 250px; /* Coloca la barra de búsqueda al lado de la sidenav */
    z-index: 1100; /* Asegura que esté por encima de otros elementos */
    display: flex;
    justify-content: flex-start; /* Alinea el contenido al inicio (izquierda) */
    align-items: center;
    padding-left: 10px; /* Añade un poco de padding a la izquierda */
  }
  
  .search-input-container {
    width: calc(100% - 20px); /* Ajusta el ancho para dejar margen a la izquierda y derecha */
    max-width: 800px; /* Haz la barra de búsqueda un poco más larga */
    margin: 0 10px; /* Deja un poco de margen a los lados */
  }
  
  .search-input {
    width: 100%;
  }
  
  .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: transparent !important; /* Fondo transparente */
    border: 1px solid white; /* Contorno blanco */
  }
  
  .mat-form-field-appearance-fill .mat-form-field-underline {
    display: none; /* Oculta la línea inferior */
  }
  
  .mat-form-field-appearance-fill .mat-form-field-wrapper {
    padding-bottom: 0; /* Elimina el padding inferior */
  }
  
  .library-content {
    margin-left: 260px; /* Ajusta el margen según el ancho de la barra lateral */
    padding: 20px;
    margin-top: 100px; /* Ajusta el margen superior para evitar que el contenido se superponga con la barra de búsqueda */
  }
  
  .book-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Alinea los libros a la izquierda */
    margin-top: 20px;
  }
  
  .book-card {
    width: 200px; /* Ancho fijo para las tarjetas */
    height: 300px; /* Altura fija para las tarjetas */
    margin: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Alinea el contenido al tope superior */
    border-radius: 0; /* Elimina los bordes redondeados */
    background-color: #001B2E;
    color  : #ffffff;
  }
  
  .book-card img {
    width: 100%;
    height: 210px; /* Altura fija para las imágenes */
    object-fit: cover; /* Asegura que la imagen cubra el área y se corte si es necesario */
    object-position: top; /* Alinea la imagen al tope superior */
  }
  
  .book-card-content {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra el texto verticalmente */
    align-items: center; /* Centra el texto horizontalmente */
    flex: 1;
  }
  
  .book-card h3 {
    font-size: 20px; /* Tamaño de fuente para el título del libro */
    margin: 5px 0; /* Reduce el margen superior e inferior */
    line-height: 1.2; /* Reduce el espacio entre líneas */
  }
  
  .book-card p {
    margin: 5px 0; /* Ajusta el margen superior e inferior */
    line-height: 1.2; /* Reduce el espacio entre líneas */
  }