.rewards-content {
    padding: 20px;
    margin-top: 80px; /* Ajusta el margen superior para que no esté pegado a la barra azul */
  }
  
  .points-display {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .rewards-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .reward-card {
    width: 250px;
    margin: 10px;
    text-align: center;
    border-radius: 0; /* Elimina los bordes redondeados */
    background-color: #001B2E;
    color  : #ffffff;
  }
  
  .reward-card img {
    width: 100%;
    height: 150px; /* Altura fija para las imágenes */
    object-fit: cover; /* Asegura que la imagen cubra el área y se corte si es necesario */
    object-position: top; /* Alinea la imagen al tope superior */
  }
  
  .reward-card h3 {
    font-size: 16px; /* Tamaño de fuente más pequeño para el nombre de la recompensa */
    margin: 5px 0; /* Reduce el margen superior e inferior */
    line-height: 1.2; /* Reduce el espacio entre líneas */
  }
  
  .reward-card .mat-card-actions {
    display: flex;
    justify-content: flex-end;
  }
  /* src/app/components/rewards/rewards.component.css */
.sidebar-container {
  position: relative;
  z-index: 10;
  background-color: #fff; /* Cambia el color según sea necesario */
  width: 250px; /* Ajusta el ancho según sea necesario */
  float: left; /* Asegura que esté alineado a la izquierda */
}

.rewards-content {
  margin-left: 260px; /* Ajusta el margen según el ancho de la barra lateral */
}