<div class="container">
  <!-- Header with Logo -->
  <header>
    <a href="/library">
      <img class="logo" src="../../../assets/images/lexuraBT.png" alt="Lexura Logo" />
    </a>
    
  </header>

  <!-- Book Content Area -->
  <div class="content">
    <!-- Pause Menu Icon -->
    <div class="menu-icon" (click)="pauseReading()">Pausar lectura</div>

    <!-- Book Title -->
    <h1>{{ book?.title }}</h1>
    <h2>{{ book?.author }}</h2>

    <!-- Book Text -->
    <div class="book-text">
      <p>{{ pageContent }}</p>
    </div>
  </div>

  <!-- Page Footer -->
  <footer>
    <button class="nav-button" (click)="prevPage()">&#8592;</button>
    <span class="page-info">Página {{currentPage}} de {{totalPages}}</span>
    <button class="nav-button" (click)="nextPage()">&#8594;</button>
  </footer>
</div>
